<div id="sidebar-content">
	<div id="sidebar-media">(todo)</div>
	<div id="marriage-h">
		<h2><a href="javascript:void(0)" data-cyid="{{spouses.0.cyid}}" class="js-sbselect">{{spouses.0.dname}}</a></h2>
		<h2 class="marriage-eq">&#9472;&#9472;&#11044;&#9472;&#9472;</h2>
		<h2><a href="javascript:void(0)" data-cyid="{{spouses.1.cyid}}" class="js-sbselect">{{spouses.1.dname}}</a></h2>
	</div>
	<div class='hr'></div>
	<table id="person-info">
		<tr><td class="key">Děti:</td><td>
{% for c in children %}
<a href="javascript:void(0)" data-cyid="{{c.cyid}}" class="js-sbselect">{{c.dname}}</a>{% if loop.last == false %}, {% endif %}
{% else %}&ndash;{% endfor %}
{% if contrib %} (<a href="javascript:void(0)">přidat</a>){% endif %}
		</td></tr>
	</table>
</div>
