
html, body
{
		height: 100%;
}

body
{
	color: #f3f3f3;
	font-family: sans-serif;
	width: 100%;
	margin: 0;
}

h2
{
	margin: 0;
	font-size: 1.25em;
}

a:link, a:visited
{
	color: #179edd;
	text-decoration: none;
}

a:hover, a:active
{
	color: #58c7fa;
}

#menubar
{
	display: table;
	background-color: #000;
	background-image: url('stressed-linen-d.png');
	background-position: 0px 30px;
	width: 100%;
	height: 30px;
}

#menubar .menublock
{
	display: table-cell;
	font-weight: bold;
	height: 30px;
	vertical-align: middle;
	white-space: nowrap;
}

#menubar #menu
{
	background-image: url('logo-text.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	text-align: center;
	padding-left: 200px;
	padding-right: 5%;
}

#menubar #user
{
	text-align: right;
	width: 1%;            /* CSS Hack: nowrap will make this as wide as necessary */
	padding-right: 20px;
}

#menubar .menuitem
{
	display: inline-block;
	border-left: 1px solid #5f5f5f;
	padding-left: 8px;
	margin-left: 8px;
}
#menubar .menuitem:first-child { border: none; }


#cy
{
	background-color: #1a1a1a;
	background-image: url('stressed-linen.png');
	position: absolute;
	top: 30px;
	left: 0;
	right: 380px;
	bottom: 0;
	overflow: hidden;
}

#sidebar
{
	background-color: white;
	font-size: .9em;
	position: absolute;
	top: 30px;
	right: 0;
	bottom: 0;
	width: 360px;
	padding: 10px;
	overflow: auto;
}



/*** Utils ***/

.hr
{
	background-color: #dddddd;
	width: 100%;
	height: 2px;
	margin: 5px 0;
}

.center { text-align: center; }

.left  { float: left;  }
.right { float: right; }

.shadow-top
{
	-webkit-box-shadow: inset 0px 4px 10px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0px 4px 10px 0px rgba(0,0,0,0.7);
	box-shadow: inset 0px 4px 10px 0px rgba(0,0,0,0.7);
}

.comma:after            { content: ', '; }
.comma:last-child:after { content: '';   }

#spinner
{
	position: absolute;
	width: 90px;
	height: 90px;
	margin: -45px 0 0 -45px;
	z-index: 1;
}
