<form action="{{action}}" method="post" class="vex-dialog-form">
	<input type="hidden" name="rdk_id" value="{{id}}" />
	<div class="vex-dialog-input">
		<div class="vex-input-field">
			<label for="rdk_firstname">Jméno</label>
			<input type="text" name="rdk_firstname" class="vex-dialog-input focus" value="{{name.first}}" />
		</div>
		<div class="vex-input-field">
			<label for="rdk_lastname">Příjmení</label>
			<input type="text" name="rdk_lastname" class="vex-dialog-input" value="{{name.last}}" />
		</div>
		<div class="vex-input-field">
			<label for="rdk_lastname">Datum narození</label>
			<input type="text" name="rdk_birth_date" class="vex-dialog-input mask" value="{{birth_date}}" data-mask="09.09.0999" placeholder="D.M.RRRR" />
		</div>
	</div>
	<div class="vex-dialog-buttons">
		<input type="submit" value="Uložit" class="js-formsubmit vex-dialog-button-primary vex-dialog-button" />
		<input type="button" value="Zrušit" class="js-formcancel vex-dialog-button-secondary vex-dialog-button" />
	</div>
</form>
