<form action="{{action}}" method="post" class="vex-dialog-form">
		<div class="vex-input-field">
			<label for="rdk_pw_current">Současné heslo</label>
			<input type="password" name="rdk_pw_current" class="vex-dialog-edit" value=""/>
		</div>
		<div class="vex-input-field">
			<label for="rdk_pw_new">Nové heslo</label>
			<input type="password" name="rdk_pw_new" class="vex-dialog-edit" value=""/>
		</div>
		<div class="vex-input-field">
			<label for="rdk_pw_new_verif">Nové heslo ‒ potvrzení</label>
			<input type="password" name="rdk_pw_new_verif" class="vex-dialog-edit" value="" />
		</div>
	<div class="vex-dialog-buttons">
		<input type="submit" value="Uložit" class="js-formsubmit vex-dialog-button-primary vex-dialog-button" />
		<input type="button" value="Zrušit" class="js-formcancel vex-dialog-button-secondary vex-dialog-button" />
	</div>
</form>
