{% spaceless %}
<div id="sidebar-content">
	<div id="sidebar-media">
		{% for m in media|slice(0, 2) %}
			<a href="{{m.view_url}}" class="photo" data-jscb='["click", "fotorama", "{{loop.index0}}"]' style="background-image: url('{{m.thumb_url}}');"></a>
		{% endfor %}
		<div id="fotorama" class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-width="1%" data-ratio="800/600">
	 		{% for m in media %}
				<div data-thumb="{{m.thumb_url}}" data-img="{{m.view_url}}">
					<div class="html">
						<p>{{m.comment}}</p>
						{% if m.tags() %}
							<p>
								{% for t in m.tags() %}
									<span class="comma">{{t.name}}</span>
								{% endfor %}
							</p>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<h2>{{p.dname}}</h2>
	<div class="hr"></div>
		{% if contrib %}
			<div class="center">
				<a href="{{ajs}}" class="button" data-jscb='["click", "vexOpen", "{{urlFor('person-edit', {'id': p.id})}}", "Upravit údaje"]'>upravit údaje</a>
				<a href="{{ajs}}" class="button" data-jscb='["click", "vexOpen", "{{urlFor('person-delete', {'id': p.id})}}", "Smazat záznam"]'>smazat</a>
			</div>
		{% endif %}
		<ul>
			<li>
				<h3>Rodiče:</h3>
				{% if parents %}
					<div id="parents">
						<a href="{{ajs}}" data-jscb='["click", "cySelect", "{{parents.0.cyid}}"]'>{{parents.0.dname}}</a>
						&nbsp;<a href="{{ajs}}" data-jscb='["click", "cySelect", "{{parentMarriage}}"]'>&#9472;&#9679;&#9472;</a>&nbsp;
						<a href="{{ajs}}" data-jscb='["click", "cySelect", "{{parents.1.cyid}}"]'>{{parents.1.dname}}</a>
					</div>
				{% else %}
					<span>?</span>
					{% if contrib %}
						<span class="right">
							<a href="{{ajs}}" data-jscb='["click", "vexOpen", "{{urlFor('marriage-new-forchild', {'id': p.id})}}", "Přidat rodiče"]' class="button">přidat</a>
						</span>
					{% endif %}
				{% endif %}
			</li>
			<li>
				<h3>Svazky:</h3>
				{% if contrib %}
					<span class="right">
						<a href="{{ajs}}" data-jscb='["click", "vexOpen", "{{urlFor('marriage-new-withperson', {'id': p.id})}}", "Přidat svazek"]' class="button">přidat</a>
					</span>
				{% endif %}
				{% for m in marriages %}
					<div>
							<a href="{{ajs}}" data-jscb='["click", "cySelect", "{{m.cyid}}"]'>&#9472;&#9679;&#9472;</a>&nbsp;
							<a href="{{ajs}}" data-jscb='["click", "cySelect", "{{m.spouse.cyid}}"]'>{{m.spouse.dname}}</a>
					</div>
					{% if m.children %}
					<div class="children">
						&nbsp;&nbsp;&nbsp;&#8627;&nbsp;
						{% for c in m.children %}
							<span class="comma"><a href="{{ajs}}" data-jscb='["click", "cySelect", "{{c.cyid}}"]'>{{c.dname}}</a></span>
						{% endfor %}
					</div>
					{% endif %}
				{% endfor %}
			</li>
			<li>
				<h3>Datum narození:</h3>
				<span>{{p.birth_date|default('?')}}</span>
			</li>
			<li>
				<h3>Místo narození:</h3>
				<span>{{p.birth_place|default('?')}}</span>
			</li>
		</ul>
</div>
{% endspaceless %}
