<div id="menubar">
	<div class="menublock" id="menu">
		<span class="menuitem"><a href="{{urlFor('home')}}">Strom</a></span>{#
		#}<span class="menuitem"><a href="{{ajs}}">Album</a></span>{#
		#}<span class="menuitem"><a href="{{ajs}}">Mapa</a></span>{#
		#}{% if admin %}{#
			#}<span class="menuitem"><a href="{{ajs}}">Administrace</a></span>{#
		#}{% endif %}
	</div>
	<div class="menublock" id="user">
		<span class="menuitem">{{username}}</span>{#
		#}<span class="menuitem"><a href="{{urlFor('logout')}}">odhlásit</a></span>
	</div>
</div>
