

.vex.vex-theme-plain
{
	padding-top: 160px;
	padding-bottom: 160px;
}

.vex.vex-theme-plain .vex-content
{
	font-family: sans-serif;
	background: white;
	color: #242424;
	padding: 1em;
	position: relative;
	margin: 0 auto;
	max-width: 100%;
	width: 60%;
	font-size: 1.1em;
	line-height: 1.5em;
	overflow: auto;
}

.vex.vex-theme-plain .vex-content h1, .vex.vex-theme-plain .vex-content h2, .vex.vex-theme-plain .vex-content h3, .vex.vex-theme-plain .vex-content h4, .vex.vex-theme-plain .vex-content h5, .vex.vex-theme-plain .vex-content h6, .vex.vex-theme-plain .vex-content p, .vex.vex-theme-plain .vex-content ul, .vex.vex-theme-plain .vex-content li
{
	color: inherit;
}

.vex.vex-theme-plain .vex-close
{
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.vex.vex-theme-plain .vex-close:before
{
	position: absolute;
	content: "\00D7";
	font-size: 26px;
	font-weight: normal;
	line-height: 31px;
	height: 30px;
	width: 30px;
	text-align: center;
	top: 3px;
	right: 3px;
	color: #bbbbbb;
	background: transparent;
}

.vex.vex-theme-plain .vex-close:hover:before, .vex.vex-theme-plain .vex-close:active:before
{
	color: #777777;
	background: #e0e0e0;
}

.vex.vex-theme-plain .vex-dialog-form
{
	margin: 20px 0;
}

.vex.vex-theme-plain .vex-dialog-form .vex-dialog-message
{
	margin-bottom: 0.5em;
}

.vex.vex-theme-plain .vex-input-field
{
	width: 100%;
	margin: 1px 0;
}

.vex.vex-theme-plain label
{
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

.vex.vex-theme-plain .vex-dialog-form .vex-dialog-input
{
	margin-bottom: 5px;
}

.vex.vex-theme-plain .vex-dialog-input
{
	background: #f0f0f0;
	font-size: 1.1em;
	width: 70%;
	padding: 0.25em 0.67em;
	border: 0;
	min-height: 2em;
	margin: 0 0 0.25em;
}

.vex.vex-theme-plain .nominatim
{
	font-size: .9em;
}

.vex.vex-theme-plain .vex-dialog-input:focus
{
	color: #004266;
	outline: #004266 solid 1px;
}

.vex.vex-theme-plain .vex-dialog-buttons
{
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.vex.vex-theme-plain .vex-dialog-form .vex-dialog-buttons:after
{
	content: "";
	display: table;
	clear: both;
}

.vex.vex-theme-plain .vex-dialog-button
{
	border-radius: 0;
	border: 0;
	float: right;
	margin: 0 0 0 0.5em;
	font-family: inherit;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.8em;
	line-height: 1em;
	padding: 0.75em 2em;
}

.vex.vex-theme-plain .vex-dialog-button:focus
{
	outline: 0;
}

.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-primary
{
	background-color: #004266;
	color: white;
}

.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-secondary
{
	background: #e0e0e0;
	color: #777777;
}

.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-danger
{
	background-color: #b30000;
	color: white;
}

.vex-loading-spinner.vex-theme-plain
{
	height: 2.5em;
	width: 2.5em;
}
