{% import 'strings.html' as strings %}
{% include 'header.html' %}
	<link rel="stylesheet" type="text/css" media="screen" href="rs/admin.css" />
</head>
<body class="jscb">
	{% include 'menubar.html' %}
	<div id="admin" class="screen shadow-top">
		<div id="admin-menu">
			<span class="menuitem"><a href="{{ajs}}" class="jscb" data-jscb='["click", "adminTab", "#settings"]'>Nastavení</a></span>
			<span class="menuitem"><a href="{{ajs}}" class="jscb" data-jscb='["click", "adminTab", "#users"]'>Uživatelé</a></span>
			<span class="menuitem"><a href="{{ajs}}" class="jscb" data-jscb='["click", "adminTab", "#log"]'>Log</a></span>
		</div>
		<div id="settings" class="tab {# tab-default #}">
			{# TODO #}
		</div>
		<div id="users" class="tab tab-default">
			<div id="adduser">
				<div class="right">
					<a href="{{ajs}}" class="button jscb" data-jscb='["click", "vexOpen", "{{urlFor('admin-user-new')}}", "Přidat uživatele"]'>Přidat uživatele</a>
				</div>
			</div>
			<table>
				<tr><th>ID</th><th>Uživatelské jméno</th><th>Oprávnění</th><th>&nbsp;</th></tr>
				{% spaceless %}
					{% for user in users %}
						<tr>
							<td>{{user.id}}</td><td>{{user.username}}</td><td>{{strings.roleNames(user.role)}}</td>
							<td>
								<a href="{{ajs}}" class="button small jscb" data-jscb='["click", "vexOpen", "{{urlFor('admin-user-edit', {'id': user.id})}}", "Upravit uživatelský účet"]'>upravit</a>
								{% if user.id > 0 %}<span>&nbsp;&nbsp;</span>
									<a href="{{ajs}}" class="button small jscb" data-jscb='["click", "vexOpen", "{{urlFor('admin-user-delete', {'id': user.id})}}", "Smazat uživatelský účet"]'>smazat</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				{% endspaceless %}
			</table>
		</div>
		<div id="log" class="tab">
			<textarea readonly="">{{log}}</textarea>
		</div>
	</div>
</body>
</html>
