{% include 'header.html' %}
</head>
<body class="jscb">
	<div id="fotorama" class="fotorama jscb" data-auto="false" data-allowfullscreen="true" data-nav="thumbs" data-width="1%" data-ratio="800/600">
		{% spaceless %}
	 		{% for m in media %}
				<div data-thumb="{{m.thumb_url}}" data-img="{{m.view_url}}">
					<div class="html">
						<p>{{m.comment}}</p>
						{% if m.tags() %}
							<p>
								{% for t in m.tags() %}
									<span class="comma">{{t.name}}</span>
								{% endfor %}
							</p>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		{% endspaceless %}
	</div>

	{% include 'menubar.html' %}
	<div id="gallery" class="screen shadow-top">
		{% if contrib %}
			<div id="buttons">
				<div class="right">
					<a href="{{ajs}}" class="button jscb" data-jscb='["click", "vexOpen", "{{urlFor('gallery-upload')}}", "Přidat fotografii"]'>Přidat fotografii</a>
				</div>
			</div>
		{% endif %}
		{% spaceless %}
			{% set year = -1 %}
			{% for m in media %}
				{% if m.year != year %}
					<h2>{{m.year}}</h2>
					{% set year = m.year %}
				{% endif %}
				<a href="{{m.view_url}}" class="photo jscb" data-jscb='["click", "fotorama", "{{loop.index0}}"]' style="background-image: url('{{m.thumb_url}}');">
					<div class="photo-tools">
						<span class="jscb" data-jscb='["click", "location", "{{urlFor('gallery-download', {'id': m.id})}}"]'>stáhnout</span>
						{% if contrib %}
							<span class="jscb" data-jscb='["click", "vexOpen", "{{urlFor('gallery-edit', {'id': m.id})}}", "Upravit fotografii"]'>upravit</span>
							<span class="jscb" data-jscb='["click", "vexOpen", "{{urlFor('gallery-delete', {'id': m.id})}}", "Smazat fotografii"]'>smazat</span>
						{% endif %}
					</div>
				</a>
			{% endfor %}
		{% endspaceless %}
	</div>
</body>
</html>
