{% import 'strings.html' as strings %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{#  FIXME: language  #}
	<meta http-equiv="Content-Language" content="cs" />
	<meta name="language" content="cs" />
	<title>Rodokmen α</title>
	<link rel="stylesheet" type="text/css" media="screen" href="rs/rdk.bundle.css" />
	<script language="javascript" type="text/javascript" src="rs/rdk.bundle.js"></script>
	<script language="javascript" type="text/javascript">
		vex.defaultOptions.className = 'vex-theme-plain';

		(function(rdk, $, undefined)
		{
			rdk.baseUrl = '{{baseUrl()}}';
			rdk.strings = {{strings.jsStrings}};
			rdk.nominatimServer = location.protocol+'//nominatim.openstreetmap.org/search';
			rdk.mapTileServer = 'http://otile3.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png';
			rdk.mapAttribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Tiles Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png">';
		}(window.rdk = window.rdk || {}, jQuery));
	</script>
