{% include 'header.html' %}
	<link rel="stylesheet" type="text/css" media="screen" href="rs/sidebar.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="rs/vex.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="rs/vex-theme-plain-mod.css" />
	<script language="javascript" type="text/javascript" src="rs/lib/jquery.mousewheel.js"></script>
	<script language="javascript" type="text/javascript" src="rs/lib/jquery.form.js"></script>
	<script language="javascript" type="text/javascript" src="rs/lib/jquery.event.drag.js"></script>
	<script language="javascript" type="text/javascript" src="rs/lib/jquery.mask.min.js"></script>
	<script language="javascript" type="text/javascript" src="rs/lib/cytoscape.noext.min.js"></script>
	<script language="javascript" type="text/javascript" src="rs/lib/raphael.min.js"></script>
	<script language="javascript" type="text/javascript" src="rs/lib/vex.combined.min.js"></script>
	<script language="javascript" type="text/javascript" src="rs/cy.layout.rodokmen.js"></script>
	<script language="javascript" type="text/javascript" src="rs/cy.renderer.raphael.js"></script>
	<script language="javascript" type="text/javascript" src="rs/utils.js"></script>
	<script language="javascript" type="text/javascript" src="rs/rodokmen.js"></script>
	<script language="javascript" type="text/javascript">
		vex.defaultOptions.className = 'vex-theme-plain';
	</script>
</head>
<body>
	<div id="spinner"></div>
	{% include 'menubar.html' %}
	<div id="sidebar" class="shadow-top"></div>
	<div id="cy" class="shadow-top"></div>
</body>
</html>
