{% include 'header.html' %}
	<link rel="stylesheet" type="text/css" media="screen" href="rs/sidebar.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="rs/gallery.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="rs/select2.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="rs/fotorama.css" />
	<script language="javascript" type="text/javascript" src="rs/lib/jquery.mousewheel.js"></script>
	<script language="javascript" type="text/javascript" src="rs/lib/jquery.event.drag.js"></script>
	<script language="javascript" type="text/javascript" src="rs/lib/jquery.mask.min.js"></script>
	<script language="javascript" type="text/javascript" src="rs/lib/cytoscape.noext.min.js"></script>
	<script language="javascript" type="text/javascript" src="rs/lib/select2.min.js"></script>
	<script language="javascript" type="text/javascript" src="rs/cy.layout.rodokmen.js"></script>
	<script language="javascript" type="text/javascript" src="rs/cy.renderer.raphael.js"></script>
	<script language="javascript" type="text/javascript" src="rs/lib/fotorama.js"></script>
</head>
<body class="jscb">
	{% include 'menubar.html' %}
	<div id="sidebar" class="shadow-top jscb" data-jscb="jscb:ajax"></div>
	<div id="cy" class="screen shadow-top jscb" data-jscb='[[""], ["jscb:ajax"]]'></div>
</body>
</html>
