{% include 'header.html' %}
</head>
{% spaceless %}
<body class="jscb">
	<div id="spinner"></div>
	<div id="loginbg">
		<img src="rs/logo-white.svg" />
	</div>
	<div id="loginbox">
		<form action="{{urlFor('login')}}" method="post" class="jscb" data-jscb='[["submit"], ["jscb:ajax", "loginAjax"]]'>
			<h1>Přihlášení do aplikace Rodokmen</h1>
			<div id="loginfail"><strong>Chyba:</strong> Nesprávné jméno nebo heslo</div>
			<table>
				<tr>
					<td><label for="username" class="right">Jméno:</label></td>
					<td><input type="text" name="rdk_username" class="focus edit jscb"/></td>
				</tr>
				<tr>
					<td><label for="password" class="right">Heslo:</label></td>
					<td><input type="password" name="rdk_pw" class="edit"/></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="Přihlásit" class="right" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>
{% endspaceless %}
</html>
