{% spaceless %}
<div id="menubar">
	<div class="menublock" id="menu">
		<span class="menuitem"><a href="{{urlFor('home')}}">Strom</a></span>
		<span class="menuitem"><a href="{{urlFor('gallery')}}">Album</a></span>
		<span class="menuitem"><a href="{{urlFor('map')}}">Mapa</a></span>
	</div>
	<div class="menublock" id="user">
		<span class="menuitem">{{username}}</span>
		{% if contrib %}
			<span class="menuitem">
				{% if admin %}<a href="{{urlFor('admin')}}">Administrace</a>
				{% else %}
					<a href="{{ajs}}" class="jscb" data-jscb='["click", "vexOpen", "{{urlFor('admin-user-changepw')}}", "Změna hesla"]'>Nastavení</a>
				{% endif %}
			</span>
		{% endif %}
		<span class="menuitem"><a href="{{urlFor('logout')}}">Odhlásit</a></span>
	</div>
</div>
{% endspaceless %}
