<div id="menubar">
	<div class="menublock" id="menu">
		<span class="menuitem"><a href="{{urlFor('home')}}">Strom</a></span>{#
		#}<span class="menuitem"><a href="{{urlFor('gallery')}}">Album</a></span>{#
		#}<span class="menuitem"><a href="{{urlFor('map')}}">Mapa</a></span>{#
		#}
	</div>
	<div class="menublock" id="user">
		<span class="menuitem">{{username}}</span>{#
		#}<span class="menuitem"><a href="{% if admin %}{{urlFor('admin')}}{% else %}{{ajs}}{% endif %}">Nastavení</a></span>{#
		#}<span class="menuitem"><a href="{{urlFor('logout')}}">Odhlásit</a></span>
	</div>
</div>
